nav {
    ul {
		// display: none;
		transform: translateY(-200px);
		transition: all .5s linear;
		max-height: 1px;
		opacity: 0;
		@media (min-width: $break-sm){
			display: flex;
			justify-content: space-between;
			background: $link;
			text-align: center;
		}
	}
	a {
		@media (min-width: $break-sm){
			color: #ffff;
			display: block;
			padding: 0.5rem;
		}
		&:hover {
			color: #ffff;
		}
	}
	li {
		background: $light-gray;
		border-bottom: 1px solid #ffff;

		@media (min-width: $break-sm){
			flex-grow: 1;
			&:hover {
				background-color: $text;
			}
		}
	}
	#pull {
		display: block;
		background-color: $link;
		height: 32px;
		padding-top: 12px;
		padding-left: 12px;
		@media (min-width: $break-sm) {
			display: none;
		}
	}
    #pull::after {
		content:"";
		background: url(../img/nav-icon.png) no-repeat;
		width: 22px;
		height: 22px;
		background-size: cover; 
		display: inline-block;
	}
}

.show-nav nav ul {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	li {
		padding: 1rem;
	}
	transform: translateY(0);
	max-height: 1000px;
	opacity: 1;
}